svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px" y="0px", viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
  g
    path.svg(d="M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M327.2,159.9l-27.1,0 c-21.2,0-25.4,10.1-25.4,24.9v32.7h50.7l-6.6,51.2h-44.1v131.3h-52.8V268.6h-44.2v-51.2h44.2v-37.7c0-43.8,26.7-67.6,65.8-67.6 c18.7,0,34.8,1.4,39.5,2L327.2,159.9L327.2,159.9z")